@charset "UTF-8";

#wrap{min-height:300px;}
header{height: 100px;}
.contents{min-height: 500px;}
footer{height: 100px;}

.sign-up-box {width:600px;}
.sign-up-table th {background-color:#D8D8D8;}

.input-group-text {width:50px;}